*~
*.png
*.root
*.pdf
*.txt
*.csv
*.fcl
*.out

/Offline
Analyses/PyMacros/Attic/*
Analyses/CMacros/*out 
Analyses/Images/*
Analyses/Txt/*
Analyses/Attic/*
Analyses/Logs/*
Analyses/Jupyter/*.png
Analyses/Jupyter/*.txt
Analyses/Jupyter/Images
Analyses/Jupyter/.ipynb_checkpoints